* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  /* Variables For Storing Colors */
  --primary-clr: #5fcf65;
  --bg-primary: #121212;
  --bg-secondary: #252935;
  --bg-ternary: #35333f;
  --heading-clr: #efefef;
  --text-clr: #808191;
  --gradient: linear-gradient(to right, #35333f, transparent);
}
body.active {
  --primary-clr: #5fcf65;
  --bg-primary: #fff;
  --bg-secondary: #f3f7fa;
  --bg-ternary: #e7eaf0;
  --heading-clr: #16192c;
  --text-clr: #596780;
  --gradient: linear-gradient(to right, #e1e5e8, transparent);
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

ul,
ol {
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visitPage a {
  color: var(--heading-clr);
  margin-left: 20px;
}
.page-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-secondary);
}
/*   === Code For Top Bar Starts ===   */
.side-bar .menu-label {
  display: inline-block;
  margin: 25px 0px 15px;
  margin-left: 20px;
  color: var(--heading-clr);
  font-size: 14px;
  text-transform: uppercase;
}
.page-wrapper .top-bar {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--bg-primary);
  border-bottom: 2px solid var(--bg-secondary);
  z-index: 2px;
}
.page-wrapper .top-bar .top-bar-left {
  display: flex;
  align-items: center;
}
.top-bar .top-bar-left .hamburger-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  display: none;
}
.top-bar-left .hamburger-btn span {
  width: 100%;
  height: 2px;
  background-color: var(--heading-clr);
  border-radius: 15px;
}
.top-bar .top-bar-left .logo {
  position: relative;
  display: flex;
  align-items: center;
}
.top-bar .top-bar-left .logo img {
  width: 120px;
}
.top-bar .search-box {
  position: relative;
  width: 400px;
  height: 37px;
  left: -80px;
  background-color: var(--bg-ternary);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar .search-box .input-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px 50px 0px 20px;
  border-radius: inherit;
  background-color: var(--bg-ternary);
  color: var(--heading-clr);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  border: none;
}
.top-bar .search-box .search-btn {
  position: absolute;
  width: 37px;
  height: 37px;
  right: 0;
  border-radius: 50px;
  background-color: var(--bg-ternary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top-bar .search-box .search-btn i {
  color: var(--text-clr);
  font-size: 15px;
}
.top-bar .top-bar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top-bar .top-bar-right .mode-switch,
.top-bar .top-bar-right .notifications {
  position: relative;
}
.top-bar .top-bar-right .mode-switch i,
.top-bar .top-bar-right .notifications i {
  font-size: 20px;
  color: var(--text-clr);
  cursor: pointer;
  transition: color 0.3s;
}
.top-bar .top-bar-right .mode-switch i:hover,
.top-bar .top-bar-right .notifications i:hover {
  color: var(--heading-clr);
}
.top-bar .top-bar-right .profile {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
  border-left: 2px solid var(--bg-ternary);
}
.top-bar .top-bar-right .profile img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
/*   === Top Bar Code Ends ===   */

/*   === Code For Side Bar Starts ===   */
.page-wrapper .side-bar {
  position: fixed;
  width: 300px;
  height: calc(100vh - 70px);
  top: 70px;
  left: 0;
  background-color: var(--bg-primary);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  transition: width 0.3s;
}

.page-wrapper .side-bar::-webkit-scrollbar {
  width: 5px;
}

.page-wrapper .side-bar::-webkit-scrollbar-track {
  border: 1px solid var(--bg-ternary);
  background-color: var(--bg-primary);
}

.page-wrapper .side-bar::-webkit-scrollbar-thumb {
  background-color: var(--bg-ternary);
  border-radius: 5px;
}

.side-bar ul.navbar-links {
  width: 100%;
  list-style: none;
  padding: 0;
}

.side-bar ul.navbar-links li {
  position: relative;
  width: 100%;
}

.side-bar ul.navbar-links li a:hover,
.side-bar ul.navbar-links li.active a {
  background: var(--gradient);
}

.side-bar ul.navbar-links li:hover > a::before,
.side-bar ul.navbar-links li.active > a::before {
  background-color: var(--primary-clr);
}

.side-bar ul.navbar-links li > a::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.side-bar ul.navbar-links li:hover > a,
.side-bar ul.navbar-links li.active > a {
  color: var(--heading-clr);
}

.side-bar ul.navbar-links li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  position: relative; /* Ensure the pseudo-element is positioned correctly */
}

ul.navbar-links li a .nav-icon {
  position: relative;
  display: block;
  min-width: 70px;
  width: 70px;
  height: 100%;
  padding: 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.navbar-links li a .nav-icon i {
  font-size: 17px;
}

ul.navbar-links li a .nav-text {
  color: var(--text-clr);
  white-space: nowrap;
}

ul.navbar-links li.active a .nav-icon i,
ul.navbar-links li.active a .nav-text {
  color: var(--heading-clr);
}

.side-bar .line {
  position: relative;
  display: inline-block;
  width: calc(100% - 50px);
  height: 1px;
  background-color: var(--bg-ternary);
  left: 25px;
  margin: 20px auto 10px;
}

.side-bar .sidebar-footer {
  position: relative;
  width: 100%;
  margin-top: 80px;
  white-space: nowrap;
}

.side-bar .sidebar-footer .settings,
.side-bar .sidebar-footer .logoutBtn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-clr);
  border-top: 1px solid var(--bg-secondary);
}

.sidebar-footer .settings .gear-icon,
.sidebar-footer .logoutBtn .logout-icon {
  display: block;
  position: relative;
  min-width: 70px;
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-footer .settings .gear-icon:hover,
.sidebar-footer .logoutBtn .logout-icon:hover {
  color: var(--heading-clr);
}

/* Submenu styles */
.side-bar ul.navbar-links li .submenu {
  display: none;
  list-style: none;
  padding-left: 25px;
}

.side-bar ul.navbar-links li .submenu li a {
  color: var(--text-clr);
  padding: 7px 8px 7px 45px;
}
.side-bar ul.navbar-links li .submenu-icon {
  margin-left: auto;
  padding-right: 20px;
}

.side-bar ul.navbar-links li.open .submenu {
  display: block;
}

.side-bar ul.navbar-links li.open .submenu-toggle .submenu-icon i {
  transform: rotate(180deg);
}

/*   === Code For Side Bar Ends ===   */
/*   ===  Code For All Input Fields  ===   */
.preview-image img {
  width: 175px;
  border-radius: 10px;
}
.productImagePreview img {
  width: 100%;
  height: auto;
  margin: auto;
}
.msg {
  background-color: var(--primary-clr);
  color: var(--heading-clr);
  padding: 10px;
  position: relative;
  display: none;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.msg .close-msg {
  background-color: var(--gradient);
  color: var(--heading-clr);
}
.msg p {
  margin: 0;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}

.form-group label {
  margin-bottom: 8px;
  color: var(--heading-clr);
  font-weight: 500;
  font-size: 14px;
  display: block;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="password"] {
  border: 1px solid rgba(145, 158, 171, 0.32);
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  color: var(--heading-clr);
}
.form-group textarea {
  border: 1px solid rgba(145, 158, 171, 0.32);
  height: 100px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  color: var(--heading-clr);
}

.form-group textarea.productDescription {
  height: 300px;
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
.image-upload {
  border: 1px solid rgba(145, 158, 171, 0.32);
  position: relative;
  margin-bottom: 35px;
  border-radius: 5px;
}
.image-upload input[type="file"] {
  width: 100%;
  opacity: 0;
  height: 100px;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.image-upload .image-uploads {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  position: absolute;
  top: 0;
}
.image-upload .image-uploads h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--heading-clr);
}
.btn-submit {
  min-width: 120px;
  background: var(--primary-clr);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 10px;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-cancel {
  min-width: 120px;
  background: #637381;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 10px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-cancel:hover {
  background: #424b52;
  color: #fff;
}
.btn-submit:hover {
  background: #fe820e;
  color: #fff;
}

.chart-contents .card {
  background-color: transparent;
}

.form-control:focus {
  background-color: var(--bg-secondary);
  color: var(--heading-clr);
  box-shadow: none;
}

header.products-header h4 {
  margin: 0;
  color: var(--heading-clr);
}
.showAllBrandItems,
.showAllItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.showAllBrandItems .form-check,
.showAllItems .form-check {
  font-size: 19px;
  color: var(--heading-clr);
}
/*   ===  Code For All Input Fields end ===   */
/*   === Code For Contents Starts ===   */
.page-wrapper .contents {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 70px);
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding-left: 300px;
  transition: 0.3s;
  z-index: 1;
}
.page-wrapper .contents::-webkit-scrollbar {
  width: 7px;
}
.page-wrapper .contents::-webkit-scrollbar-track {
  border-radius: 5px;
}
.page-wrapper .contents::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr);
  border-radius: 5px;
}
/*   === Code For Panel Bar ===   */
.contents .panel-bar {
  position: relative;
  width: 100%;
  height: 135px;
  background-color: var(--bg-primary);
  padding: 20px;
}
.contents .panel-bar .row-1 {
  width: 100%;
}
.contents .panel-bar .row-1 h1 {
  color: var(--heading-clr);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}
.contents .panel-bar .row-2 {
  position: absolute;
  bottom: 0;
}
.contents .panel-bar .row-2 a {
  display: inline-block;
  height: 100%;
  margin-right: 25px;
  padding: 10px 0px 22px;
  font-size: 15px;
  text-decoration: none;
  color: var(--text-clr);
}
.contents .panel-bar .row-2 a:nth-of-type(4) {
  margin-right: 0px;
}
.contents .panel-bar .row-2 a.active {
  border-bottom: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}
/*   === Code For Panel Ends ===   */
/*   === Code For Panel Ends ===   */

.bsTableCustomize tr th {
  background: var(--bg-secondary);
  color: var(--heading-clr);
  padding: 10px;
}
.bsTableCustomize tbody tr td {
  background-color: var(--bg-ternary);
  padding: 10px;
  color: var(--heading-clr);
}
td.productDashImage img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
/*   === Code For Panel Ends ===   */
/*   === Code For Description Starts ===   */
.contents .description {
  width: 100%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
/*   === Code For Column 1 Starts ===   */
.contents .description .col-1 {
  position: relative;
  width: 100%;
}
/*   === Balance Boxes Starts ===   */
.description .col-1 .boxes-row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.col-1 .boxes-row .balance-box {
  background-color: var(--bg-primary);
  padding: 30px 25px;
  color: var(--text-clr);
  border-radius: 5px;
}
.boxes-row .balance-box .subject-row {
  display: flex;
  justify-content: space-between;
}
.boxes-row .balance-box .subject-row .text {
  position: relative;
}
.balance-box .subject-row .text h3 {
  color: var(--text-clr);
  font-size: 16px;
  font-weight: 500;
}
.balance-box .subject-row .text h1 {
  color: var(--heading-clr);
  font-size: calc(22px + 0.35vw);
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0px;
}
.balance-box .subject-row .text h1 sub {
  position: relative;
  font-size: 13px;
  color: var(--text-clr);
  left: 3px;
  top: -5px;
}
.balance-box .icon {
  width: 45px;
  height: 45px;
  background-color: var(--bg-ternary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.balance-box .icon i {
  color: #5fcf65;
  font-size: 18px;
}
.balance-box:nth-of-type(2) .icon i {
  color: var(--primary-clr);
}
.balance-box .progress-row {
  position: relative;
  width: 100%;
}
.balance-box .progress-row .subject {
  font-size: 15px;
  color: var(--text-clr);
  margin-top: 3px;
  text-transform: lowercase;
}
.balance-box .progress-row .progress-bar {
  width: 100%;
  height: 5px;
  background-color: var(--bg-ternary);
  border-radius: 15px;
  margin-top: 10px;
}
.balance-box .progress-row .progress-bar .progress-line {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #5fcf65;
  border-radius: 15px;
}
.balance-box:nth-of-type(2) .progress-row .progress-bar .progress-line {
  background-color: var(--primary-clr);
}
.balance-box .progress-row .progress-bar .progress-line::after {
  position: absolute;
  content: attr(value);
  top: -25px;
  right: 0;
  transform: translateX(50%);
  color: var(--text-clr);
  font-size: 15px;
}
/*   === Balance Boxes Ends ===   */
/*   === Chart Starts ===   */
.col-1 .chart {
  width: 100%;
  background-color: var(--bg-primary);
  padding: 30px 25px;
  border-radius: 5px;
  margin-top: 25px;
}
.col-1 .chart .chart-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.chart .chart-header h2 {
  font-size: calc(20px + 0.4vw);
  color: var(--heading-clr);
  font-weight: 500;
}
.chart .chart-contents {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin-top: 25px;
}
/*   === Chart Ends ===   */
/* Products */
.description .col-2 {
  width: 100%;
}
.description .col-2 .top-products {
  background-color: var(--bg-primary);
  padding: 30px 15px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.col-2 .top-products .products-header {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--text-clr);
}
.col-2 .top-products .products-header h1 {
  color: var(--heading-clr);
  font-size: calc(22px + 0.3vw);
  font-weight: 400;
  letter-spacing: 1px;
}
.col-2 .top-products .products-wrapper {
  position: relative;
  max-height: 350px;
  overflow-y: auto;
  padding-right: 20px;
}
.col-2 .top-products .products-wrapper::-webkit-scrollbar {
  width: 5px;
}
.col-2 .top-products .products-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}
.col-2 .top-products .products-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--bg-ternary);
  border-radius: 5px;
}
.top-products .products-wrapper .product {
  padding: 10px 0px;
  display: flex;
  border-top: 1px solid var(--bg-ternary);
}
.top-products .products-wrapper .product:nth-of-type(1) {
  border-top: none;
}
.products-wrapper .product .product-img {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.products-wrapper .product .product-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.products-wrapper .product .product-desc {
  width: 100%;
  position: relative;
}
.product .product-desc .product-row-1 {
  display: flex;
  justify-content: space-between;
  gap: 0px 15px;
}
.product-desc .product-row-1 h2 {
  font-size: 17px;
  color: var(--heading-clr);
  font-weight: 400;
}
.product-desc .product-row-1 i {
  position: relative;
  color: var(--text-clr);
  top: 3px;
  cursor: pointer;
  transition: color 0.3s;
}
.product-desc .product-row-1 i:hover {
  color: var(--heading-clr);
}
.product-desc .product-row-2 {
  margin-top: 5px;
}
.product-desc .product-row-2 p {
  color: var(--text-clr);
  font-size: 15px;
}

/*   === Code For Contents Ends ===   */
